$dark-gray: #555;
$dark-gray-100: #333;
$dark-gray-200: #3f3f3f;
$white: #ffffff;
$black: #000;
$white-gray: #f3f3f3;
$white-gray-100: #e8e8e8;
$blue: #28a;
$orange: #F90;
$red: #e4461b;
$red-100: #cc4d29;
$green: #2bb673;

$text-color: $white-gray;
$background-color: $dark-gray-100;
$item-background-color: $dark-gray-200;
$item-border-color: $dark-gray;